body {
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
}

.PageBackground {
    background-image: url('../../Images/Back.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: #FF9E5E;
}

.HeaderLogo{
    margin-top:15px; 
    margin-left:15px; 
    margin-bottom:5px; 
    height:auto; 
    width:100%;
}

.fif {
    display: inline-block;
    margin: 0 0 0 0;
}


.DIVCentered {
    margin: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}



.DIVCenterHorizental {
    margin: 0;
    position: relative;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.DIVCenterVertical {
    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.LeftPadding{
    padding-left:15px;
}

.PaddingAllSide{
    padding-left:10px;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:10px;
}

.RoundCornerWithBorder {
    border-radius: 10px;
    border: 2px solid #990000;
    height: 25px;
    margin-top:5px;
    margin-bottom:6px;
    padding: 5px;
    position: relative;
}

.BottomNameBack {
    position: absolute;
    padding-top: 7px;
    bottom: 0;
    height: 40px;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.Warp {
    
    width: 33%;
    margin: 0 auto;
}

.Warp90 {
     width: 95%;
    margin: 0 auto;
}

.Warp32 {
    float: left;
    width: 33%;
    /*margin: 0 auto;*/
    height: auto;

}

.Warp35 {
    float: left;
    width: 35%;
    height: auto;
    margin: 0 auto;
}

.Warp50 {
    float: left;
    width: 50%;
    height: auto;
    margin: 0 auto;
   
}

.Warp60 {
    float: left;
    width: 60%;
    height: auto;
    margin: 0 auto;
}

.FooterHight{

    height:360px;
    border:none; 

}

.RoundCorner {
    border-radius: 15px;
    padding: 10px;
}

.EmailTableStyle {
    border: 1px solid #1E75A2;
}

.DIVOverlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(155,0,0,1);
    z-index: 9;
    overflow: auto;
}

.CursorHand {
    cursor:pointer;
}

@media screen and (max-width: 720px) {
    .HeaderLogo{
        margin-top:10px; 
        margin-left:10px; 
        margin-bottom:5px; 
        height:30px; 
        width:auto;
    }
    .Warp, .Warp90 {
        width: 90%;
        margin: 0 auto;
    }

    .Warp35, .Warp32 {
        float: left;
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .Warp60 {
        float: left;
        width: 90%;
        height: auto;
        margin: 0 auto;
        padding-left:50px;
    }

    .Warp50 {
        float: left;
        width: 100%;
        /*height: 310px;*/
        height: auto;
        margin: 0 auto;
    }


    .FooterHight{

    height:995px;
    border:none; 

    }
}
